/* FONT HEADING
----------------------------------*/
@font-face {
    font-family: 'AyitaProSemiBold';
    src: url('../fonts/ayita.eot');
    src: url('../fonts/ayita.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ayita.woff2') format('woff2'),
         url('../fonts/ayitawoff') format('woff'),
         url('../fonts/ayita.ttf') format('truetype'),
         url('../fonts/ayita.svg#wf') format('svg');
}

/* FONT ICONS
----------------------------------*/
@font-face {
    font-family: 'map';
    src: url('../fonts/map.eot?71245200');
    src: url('../fonts/map.eot?71245200#iefix') format('embedded-opentype'),
         url('../fonts/map.woff?71245200') format('woff'),
         url('../fonts/map.ttf?71245200') format('truetype'),
         url('../fonts/map.svg?71245200#map') format('svg');
}

@font-face{
    font-family:'rs_aaa';
    src: url('../fonts/rs_aaa.eot');
    src: url('../fonts/rs_aaa.woff') format('woff'),
         url('../fonts/rs_aaa.svg#rs') format('svg'),
         url('../fonts/rs_aaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icons {
    font-family: "map";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: '\e800';
}

.icon-info:before {
    content: '\e801';
    color: #fff;
    margin-lefT: 20px;
    cursor: pointer;
}

.icon-down:before {
    content: '\e802';
}

.icon-right:before {
    content: '\e804';
}

.icon-search:before {
    content: '\e808';
    margin-left: 20px;
}

.icon-close:before {
    content: '\e80f';
}


/* MAIN STYLES
----------------------------------*/
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    color: #fc3;
    background-color: #303030;
    font-family: Corbel, 'Trebuchet MS', 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'AyitaProSemiBold', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 12px;
}

h2 {
    padding: 0 0 0 28px;
    font-size: 26px;
    line-height: 50px;
    background-color:#00137F;
    border-bottom: 20px solid #3781cd;
}

h3 {
    padding: 4px 0 4px 20px;
    background-color:#00137F;
    border-bottom: 2px solid #303030;
}

nav .icon-menu:hover {
    color:#07CAF7;
    cursor: pointer;
}

nav .icon-menu {
    margin-top: 5px;
    padding-left: 20px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    position: relative;
}


aside {
    flex-basis: 320px;
    min-width: 320px;
    margin: 20px 0 0 0;
    top: -70px; /* top align with menu bar */
    z-index: 99;
}

.no-overlay {
    /* Places list view next to map */
    position: relative;

    /* Stretches height to bottom of page, minus top value */
    height: calc(100% - 70px);
}

.overlay {
    /* Overlays list view over the map */
    position: absolute;

    /* Shrinks height to fit container */
    height: auto;
}

aside input {
    background-color:#ccc;
    margin: 4px 0 4px 24px;
}


aside ul {
    margin: 0;
    padding: 0;
}

aside li,
aside form {
    list-style-type: none;
    padding: 4px 0 4px 20px;
    color: #006;
    font-weight: bold;
    border-bottom: 1px solid #303030;
    background-color: #3781cd;
}

aside li:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
}

aside .icon-close:hover {
    color:#900;
    cursor: pointer;
}

.top {
    height: 50px;
    color:#204f26;
    background-color: #693;
}

.big {
    font-size: 36px;
}


#menuClose {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 7px;
    top: 7px;
}

#map {
    flex-grow: 1;
    flex-basis: 320px;
    min-width: 320px;
    min-height: 480px;
    margin: 20px 20px 0 20px;
    padding: 0;
}


/* MEDIA QUERIES
----------------------------------*/
@media only screen and (max-width: 800px) {
  aside li {
    background-color: rgba(55, 129, 205, 0.8);
  }

  /* Screen is smaller, so always overlay */
  .no-overlay {
    position: absolute;
    height: auto;
  }
}


/* SPINNER ANIMATION
----------------------------------*/

/* css loading animation for google map */
#spinnerContainer {
    font-family: 'AyitaProSemiBold', sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8em;
}

#spinner {
    font-size: 30px;
    height: 2em;
    width: 2em;
    position: relative;
    margin: 10px auto 10px auto;
    -webkit-animation: rotation 0.7s infinite linear;
    -moz-animation: rotation 0.7s infinite linear;
    animation: rotation 0.7s infinite linear;
    border: 0.5em solid rgba(0,0,0,0.2);
    border-top-color: rgba(0,0,0,0.8);
    border-radius: 100%;
}

/* credit: http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner */

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}